 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 </head>
 <body>
      <%-incude("header")%>  
      <h1>Profile Page</h1>
      <p>Name is:<%=user.name%>Phone no is:<%=user.phone%></p>
 </body>                     
 </html>